{% extends 'main/base.html' %}
{% load static %}
{% block title %}
About us
{% endblock %}



{% block content %}


<body>

    <div class="about_body">
        <img src="{% static 'images/aboutus.png' %}" alt="Cosmo" class="responsive">
        <h1>About us</h1>
        <div class="about_text">
            <h2>Hi!</h2>
            <p>I'm<strong>Cosmo</strong>the red cat. I'm an English teacher and programmer.
                I love information technology and I bet you do too.</p>
            <p></p>
/
            <ul class="about_text_li">
            <li>So you are preparing for a job interview, but you may lack
                confidence when you need to speak English, right?</li>
            <li>Maybe you’ve been learning English since you were at school,
                but you still get stuck when you speak.</li>
            <li>You need special vocabulary for your studies or work in IT.</li>
            </ul>

            <p></p>
            <p>If this sounds familiar, then you're in the right place.
                On this site, you will find a lot of resources and tools
                that will help you improve your tech English.</p>
            <h2>What can you do on this website?</h2>
            <p>Learn English via:</p>
            <div class="body_but">
                <a class="about_us2" href="{% url 'learn' %}">Free training material</a>
                <a class="about_us2" href="{% url 'resources' %}">Useful literature and games</a>
                <a class="about_us2" href="{% url 'classes' %}">Online classes</a>
                </div>
        </div>
    </div>
</body>




{% endblock %}