<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/learn.css' %}">
    <link rel="stylesheet" href="{% static 'css/r_books.css' %}">
    <link rel="stylesheet" href="{% static 'css/resources.css' %}">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
    <link rel="icon" href="{% static 'images/Frame.png' %}" type="image/png">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<header>
    <div class="header-content">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/Group.png' %}" alt="logo">
            <div class="logo_hide"><p>Cosmo’s English for IT</p></div>
        </a>
        <div class="nav_big">
            <nav>
                <a class="nav-item" href="{% url 'home' %}">Home</a>
                <a class="nav-item" href="{% url 'about' %}">About us</a>
                <div id="nav-dropdown" href="resources.html">
                    <a class="nav-item" href="{% url 'resources' %}">Resources</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'c_books' %}">Course books</a>
                        <a class="dropdown-item" href="{% url 'r_books' %}">Books to read</a>
                        <a class="dropdown-item" href="{% url 'games' %}">Games</a>
                    </div>
                </div>
                <div id="nav-dropdown" href="{% url 'learn' %}">
                    <a class="nav-item" href="{% url 'learn' %}">Learn</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'vocabulary' %}">Vocabulary</a>
                        <a class="dropdown-item" href="{% url 'dialogues' %}">Dialogues</a>
                        <a class="dropdown-item" href="texts.html">Texts</a>
                    </div>
                </div>
                <a class="nav-item" href="online.html">Online classes</a>
            </nav>
        </div>
        <div class="nav_brg">
            <img src="images/menu.svg" alt="button-burger" class="burger-icon">
            <div class="dropdown_menu">
                <a class="dropdown_item" href="{% url 'home' %}">Home</a>
                <a class="dropdown_item" href="{% url 'about' %}">About us</a>
                <a class="dropdown_item" href="{% url 'resources' %}">Resources</a>
                <a class="dropdown_item2" href="{% url 'c_books' %}">— Course books</a>
                <a class="dropdown_item2" href="{% url 'r_books' %}">— Books to read</a>
                <a class="dropdown_item2" href="{% url 'games' %}">— Games</a>
                <a class="dropdown_item" href="{% url 'learn' %}">Learn</a>
                <a class="dropdown_item2" href="{% url 'vocabulary' %}">— Vocabulary</a>
                <a class="dropdown_item2" href="{% url 'dialogues' %}">— Dialogues</a>
                <a class="dropdown_item2" href="texts.html">— Texts</a>
                <a class="nav-item" href="online.html">Online classes</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer>
    <div class="footer-all">
        <div class="contact_f">
            <div class="text_f">
                <h2>Want to know more?</h2>
                <p>I can call you and answer all your questions.</p>
                <p>And yes, I can talk human too. Begin learning today!</p>
            </div>
            <form method="get" class="register">
                <div class="form">
                    <div class="form_sbm">
                        <input type="name" placeholder="name">
                    </div>
                    <div class="form_sbm">
                        <input type="name" placeholder="phone">
                    </div>
                    <div class="btn">
                        <input type="button" value="submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="legal_f">
            <div class="foot_legdiv">
                <a class="footer_legal" href="{% url 'terms' %}">Terms & conditions</a></div>
            <div class="foot_legdiv">
                <a class="footer_legal" href="{% static 'images/404.svg' %}">Data protection</a></div>
            <div class="foot_legdiv">
                <a class="footer_legal" href="{% static 'images/404.svg' %}">Privacy and cookies</a></div>
        </div>
        <div class="legal_f">
            <p>Copyright © Cosmo’s English for IT 2023 All rights reserved.</p>
        </div>
    </div>
</footer>




<!--<div class="menu-bar">-->

<!--    <a class="brand" href="{% url 'home' %}"><img src="{% static 'images/Group.png' %}" alt="">Cosmo's English for IT</a>-->
<!--    <ul>-->
<!--        <li><a href="{% url 'home' %}">Home</a></li>-->
<!--        <li><a href="{% url 'about' %}">About us</a></li>-->
<!--        <li><a href="{% url 'learn' %}">Learn</a>-->
<!--            <div class="sub-menu">-->
<!--                <ul>-->
<!--                    <li><a href="#">Texts</a></li>-->
<!--                    <li><a href="{% url 'dialogues' %}">Dialogues</a></li>-->
<!--                    <li><a href="#">Vocabulary</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li><a href="{% url 'resources' %}">Resources</a>-->
<!--        <div class="sub-menu">-->
<!--                <ul>-->
<!--                    <li><a href="{% url 'c_books' %}">Course books</a></li>-->
<!--                    <li><a href="{% url 'r_books' %}">Books to read</a></li>-->
<!--                    <li><a href="{% url 'games' %}">Games</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li><a href="#">Contact</a></li>-->
<!--    </ul>-->
<!--</div>-->







</body>
</html>