<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
    <link rel="icon" href="{% static 'images/Frame.png' %}" type="image/png">
  <title>Online classes</title>
</head>
<body>

<header>
    <div class="header-content">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/Group.png' %}" alt="logo">
            <div class="logo_hide"><p>Cosmo’s English for IT</p></div>
        </a>
        <div class="nav_big">
            <nav>
                <a class="nav-item" href="{% url 'home' %}">Home</a>
                <a class="nav-item" href="{% url 'about' %}">About us</a>
                <div id="nav-dropdown" href="resources.html">
                    <a class="nav-item" href="{% url 'resources' %}">Resources</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'c_books' %}">Course books</a>
                        <a class="dropdown-item" href="{% url 'r_books' %}">Books to read</a>
                        <a class="dropdown-item" href="{% url 'games' %}">Games</a>
                    </div>
                </div>
                <div id="nav-dropdown" href="{% url 'learn' %}">
                    <a class="nav-item" href="{% url 'learn' %}">Learn</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'vocabulary' %}">Vocabulary</a>
                        <a class="dropdown-item" href="{% url 'dialogues' %}">Dialogues</a>
                        <a class="dropdown-item" href="texts.html">Texts</a>
                    </div>
                </div>
                <a class="nav-item" href="{% url 'classes' %}">Online classes</a>
            </nav>
        </div>
        <div class="nav_brg">
            <img src="{% static 'images/menu.svg' %}" alt="button-burger" class="burger-icon">
            <div class="dropdown_menu">
                <a class="dropdown_item" href="{% url 'home' %}">Home</a>
                <a class="dropdown_item" href="{% url 'about' %}">About us</a>
                <a class="dropdown_item" href="{% url 'resources' %}">Resources</a>
                <a class="dropdown_item2" href="{% url 'c_books' %}">— Course books</a>
                <a class="dropdown_item2" href="{% url 'r_books' %}">— Books to read</a>
                <a class="dropdown_item2" href="{% url 'games' %}">— Games</a>
                <a class="dropdown_item" href="{% url 'learn' %}">Learn</a>
                <a class="dropdown_item2" href="{% url 'vocabulary' %}">— Vocabulary</a>
                <a class="dropdown_item2" href="{% url 'dialogues' %}">— Dialogues</a>
                <a class="dropdown_item2" href="{% url 'texts' %}">— Texts</a>
                <a class="nav-item" href="{% url 'classes' %}">Online classes</a>
            </div>
        </div>
    </div>
</header>


<div class="about_body">
    <img src="{% static 'images/classes.png' %}" alt="Cosmo" class="responsive">
    <div class="about_text">
        <h2> Start learning today!</h2>
        <p>Have questions? Or feel that you need some help?</p>
        <p>You can start online classes with a teacher.</p>
    </div>
</div>


<div class="contact_f">
    <div class="text_f_cl">
        <h2>Text me</h2>
        <p>Just send me a message and I answer as soon as possible.</p>
        <p>And yes, I can speak human too!</p>
    </div>
    <form method="get" class="register">
        <div class="form">
            <div class="form_sbm">
                <input type="name" placeholder="name">
            </div>
            <div class="form_sbm">
                <input type="name" placeholder="phone">
            </div>
            <div class="btn">
                <input type="button" value="send a message">
            </div>
        </div>
    </form>
</div>



<footer>
    <div class="footer-all">
        <div class="legal_f">
            <div class="foot_legdiv">
                <a class="footer_legal" href="{% url 'terms' %}">Terms & conditions</a></div>
            <div class="foot_legdiv">
                <a class="footer_legal" href="{% static 'images/404.svg' %}">Data protection</a></div>
            <div class="foot_legdiv">
                <a class="footer_legal" href="{% static 'images/404.svg' %}">Privacy and cookies</a></div>
        </div>
        <div class="legal_f">
            <p>Copyright © Cosmo’s English for IT 2023 All rights reserved.</p>
        </div>
    </div>
</footer>

</body>
</html>









