{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Terms and conditions
{% endblock %}

{% block content %}

<body>
    <div class="terms_body">
        <img src="images/legal.png" alt="Cosmo" class="responsive">
        <h1>Terms & conditions</h1>
        <div class="terms_text">
            <h2>Please read these Terms and Conditions ("Agreement") carefully before accessing or using our website that provides study materials for learning English ("the Site"). This Agreement sets forth the legally binding terms and conditions for your use of the Site. By accessing or using the Site in any manner, including browsing the Site, you agree to be bound by this Agreement. If you do not agree to these terms and conditions, you may not access or use the Site.</h2>

            <p class="bold">1. Intellectual Property:</p>
            <p>a. All the study materials, content, and resources available on the Site are protected by intellectual property laws, including copyright and trademark laws. You may not modify, reproduce, distribute, or sell any material from the Site without our prior written consent.</p>

            <p class="bold">2. User Responsibilities:</p>
            <p>a. You may use the study materials available on the Site for personal, non-commercial purposes. You are responsible for any consequences that may arise from the use of these materials.</p>
            <p>b. You must not engage in any illegal, harmful, or disruptive activities while accessing or using the Site.</p>
            <p>c. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</p>

            <p class="bold">3. Accuracy of Content:</p>
            <p>a. While we strive to provide accurate and up-to-date study materials, we do not guarantee the accuracy, completeness, or reliability of any content on the Site. Therefore, you acknowledge that using the study materials is at your own risk.</p>

            <p class="bold">4. Third-Party Links:</p>
            <p>a. The Site may contain links to third-party websites or resources for your convenience. We do not endorse or have any control over the content or availability of these websites. You acknowledge and agree that we shall not be liable for any damage or loss caused by accessing or using any third-party websites.</p>

            <p class="bold">5. Disclaimer of Warranties:</p>
            <p>a. The study materials on the Site are provided on an "as-is" and "as available" basis. We make no representations or warranties of any kind, express or implied, regarding the accuracy, reliability, or suitability of the materials.</p>

            <p class="bold">6. Limitation of Liability:</p>
            <p>a. To the maximum extent permitted by law, we shall not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to loss of profits, data, or use.</p>

            <p class="bold">7. Modifications:</p>
            <p>a. We reserve the right to modify, suspend, or discontinue any part of the Site, including these Terms and Conditions, at any time without prior notice. Your continued use of the Site after any modifications shall constitute your acceptance of the modified terms.</p>

            <p class="bold">8. Governing Law:</p>
            <p>a. This Agreement shall be governed and construed in accordance with the laws of your jurisdiction. Any disputes arising out of or relating to this Agreement or the Site shall be resolved in the courts of your jurisdiction.</p>
            <p>By accessing or using our Site, you acknowledge and agree to abide by these Terms and Conditions. If you have any questions, please contact us at contact email.</p>
        </div>
    </div>
</body>

{% endblock %}