{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Vocabulary
{% endblock %}

{% block content %}

<div class="body_books">
    <img src="{% static 'images/dialtitle.png' %}" alt="Vocabulary" class="responsive">
    <div class="text-text">
        <h1>Vocabulary</h1>
        <p>Vocabulary topics</p>
    </div>
    <ol class="list-dialogues">
        {% for v in voc %}
        <li><h2><a href="{% url 'voc' v.pk %}">{{v.title}}</a></h2>
        </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}